<section class="gray-bg section-padding100" id="service-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="col-xs-12 col-md-4">
                    <h5>Notr解决什么问题?</h5>
                    <ul class="list-unstyled list-font">
                        <li>1. 内网应用无法访问</li>
                        <li>2. 运营商下发公网IP不固定</li>
                        <li>3. 多层NAT导致打洞复杂</li>
                        <li>4. </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h5>主要应用场景?</h5>
                    <ul class="list-unstyled list-font">
                        <li>1. 微信公众号调试</li>
                        <li>2. 内网应用发布</li>
                        <li>3. 前后端接口调试</li>
                        <li>4. windows远程桌面</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-md-4">
                        <h5>如何开始?</h5>
                        <ul class="list-unstyled list-font">
                            <li>1. 注册用户</li>
                            <li>2. <a href="" id="platform-download">下载客户端</a></li>
                            <li>3. 运行客户端</li>
                            <li><a href="">详细文档</a></li>
                        </ul>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="assets/images/demo.png">
            </div>    
        </div>
    </div>
</section>
<script>
    // platform = getOsVersion()
    // if (platform == 1){
    //     document.getElementById("platform-download").href = "http://www.notr.tech:8000/notr-darwin-amd64"
    // }else if(platform == 2){
    //     document.getElementById("platform-download").href = "http://www.notr.tech:8000/notr-windows.exe"
    // }else{
    //     document.getElementById("platform-download").href = "http://www.notr.tech:8000/notr-linux-amd64"
    // } 
</script>