<section class="gray-bg section-padding100" id="service-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <!-- <div class="col-xs-12 col-md-3">
                    <h5>Notr解决什么问题?</h5>
                    <ul class="list-unstyled list-font">
                        <li>1. 内网应用无法访问</li>
                        <li>2. 运营商下发公网IP不固定</li>
                    </ul>
                </div> -->
                <div class="col-xs-12 col-md-5">
                    <h5>主要应用场景</h5>
                    <ul class="list-unstyled list-font">
                        <li>1. 微信公众号/小程序开发回调测试</li>
                        <li>2. 内网网站发布</li>
                        <li>3. 前后端接口调试</li>
                        <li>4. windows远程桌面</li>
                        <li>5. 内网ERP/OA/物联网设备等访问</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-md-6">
                        <h5>我们的优势</h5>
                        <ul class="list-unstyled list-font">
                            <li>1. 多种调度策略，综合地理位置和节点状态进行调度，保证连接最优质节点</li>
                            <li>2. 节点高可用，无需担心节点宕机</li>
                            <li>3. 简单方便，无需购买域名和证书，无需配置，只需运行一行命令即可</li>
                            <li>4. 多种技术方案，可以使用客户端，也可以购买LICENSE，在您的服务器安装我们的软件</li>
                        </ul>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-5">
                <img src="assets/images/how.jpg">
            </div>    
        </div>
    </div>
</section>
<script>
    // platform = getOsVersion()
    // if (platform == 1){
    //     document.getElementById("platform-download").href = "http://www.notr.tech:8000/notr-darwin-amd64"
    // }else if(platform == 2){
    //     document.getElementById("platform-download").href = "http://www.notr.tech:8000/notr-windows.exe"
    // }else{
    //     document.getElementById("platform-download").href = "http://www.notr.tech:8000/notr-linux-amd64"
    // } 
</script>