<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand logo">
                <h2>Notr</h2>
            </a>
        </div>
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#service-page">产品介绍</a></li>
                <li><a href="#price-page">价格</a></li>
                <li><a href="#download-page">下载与运行</a></li>
                <li><a href="/docs">文档</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user">注册/登录</a></li>
            </ul>
        </nav>
    </div>
</div>
