<section class="angle-bg sky-bg overlay section-padding" id="price-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>定价方案</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="price-table">
                    <h3 class="text-uppercase price-title">免费版</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li>每次运行获得3小时免费时间</li>
                        <li>随机生成私人子域名</li>
                        <li>支持HTTP协议</li>
                    </ul>
                    <hr>
                    <a href="http://www.notr.tech:8000" class="button">下载试用</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="price-table active">
                    <span class="price-info"><span class="ti-crown"></span></span>
                    <h3 class="text-uppercase price-title">标准版</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li>{{ page.price }}RMB/月</li>
                        <li>固定域名</li>
                        <li>无需备案和购买证书</li>
                        <li>支持HTTP，HTTPS，TCP协议</li>
                    </ul>
                    <hr>
                    <a href="/user" class="button">立即注册</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="price-table">
                    <h3 class="text-uppercase price-title">专业版</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li>支持多用户使用</li>
                        <li>支持用户管理，域名管理</li>
                        <li>可调整带宽</li>
                        <li>提供接口供二次开发</li>
                    </ul>
                    <hr>
                    <a class="button" href="/docs/#/zh-cn/contact">联系我们</a>
                </div>
            </div>
        </div>
    </div>
</section>
    