<section class="angle-bg sky-bg overlay section-padding" id="price-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>定价方案</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="price-table">
                    <h3 class="text-uppercase price-title">免费版</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li>每次运行获得3小时免费时间</li>
                        <li>随机生成私人子域名</li>
                        <li>支持HTTP协议</li>
                    </ul>
                    <hr>
                    <a href="#download-page" class="button">下载试用</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="price-table active">
                    <span class="price-info"><span class="ti-crown"></span></span>
                    <h3 class="text-uppercase price-title">标准版</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li>{{ page.price }}RMB/月</li>
                        <li>固定个人域名</li>
                        <li>不限单次使用时间</li>
                        <li>支持HTTP，HTTPS，TCP协议</li>
                    </ul>
                    <hr>
                    <a href="#signinup-page" class="button">立即注册</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="price-table">
                    <h3 class="text-uppercase price-title">专业版</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li>个性化定制</li>
                        <li>支持多区域互联</li>
                        <li>支持广域网优化</li>
                    </ul>
                    <hr>
                    <a class="button">敬请期待</a>
                </div>
            </div>
        </div>
    </div>
</section>
    