<section class="gray-bg section-padding" id="download-page">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-12 text-center">
                    <div class="page-title">
                        <h2>下载试用</h2>
                        <p>Notr目前支持Linux，Mac OS，Windows等多个平台</p>
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <td>#</td>
                                <td>操作系统</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Linux x86_64</td>
                                <td><a href="/v2/release/notr-linux-amd64">notr-linux-amd64</a></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>Linux x86</td>
                                <td><a href="/v2/release/notr-linux-386">notr-linux-386</a></td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>OS X</td>
                                <td><a href="/v2/release/notr-darwin-amd64">notr-darwin-amd64</a></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    <p><a href="http://www.notr.tech:8000">更多下载</a></p>      
                </div>
            </div>
        </div>
    </div>
</section>
